
a {
  &,
  &:focus,
  &:hover {
    color: #fff;
  }
}

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

  
  .masthead {
    .masthead-brand {
      @include media-breakpoint-up(md) {
        float: left;
      }
    }

    .masthead-nav {
      @include media-breakpoint-up(md) {
        float: right;
      }
      .nav-link {
        color: $header-nav-color;
        font-weight: 700;
        padding: 0.25rem 0;
        &:hover,
        &:focus {
          color: $header-nav-color;
          border-bottom: 0.25rem solid $header-nav-color;
        }
        &.active {
          color: $white;
          border-bottom: 0.25rem solid $white;
        }
        & + .nav-link {
          margin-left: 1rem;
        }
      }
    }
  }

  footer {
    color: $footer-color;
  }

  .social-links {
    .nav {
      border-bottom: 1px solid $footer-border-color;
      .nav-item {
          .nav-link {
            i {
              color: $footer-color;
              font-size: 1.8rem;
              &:hover,
              &:focus {
                color: $white;
              }
            }
          }
      }
    }
  }
}
